<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/post-ok.css">
</head>

<body>
    <div class="box" style="text-align: center;">
        <h1>投稿完了</h1>
    </div>
    <div class="box">
        <span class="large">投稿したひみつ</span>
        <div class="user-box">
            <div class="user-icon">
                <span class="yaba">10</span>
            </div>
            <div class="user">
                <span class="large">さっきまで寿司を食べたかったお兄さん</span>
            </div>
            <div class="himitsu">
                <span>コンビニの寿司添加物やばいらしい</span>
            </div>
        </div>
    </div>
    <div class="box">
        <span class="large">受け取ったひみつ</span>
        <div class="user-box">
            <div class="user-icon">
                <span class="yaba">10</span>
            </div>
            <div class="user">
                <span class="large">さっきまでファミチキ食べてたおじさん</span>
            </div>
            <div class="himitsu">
                <span>ファミチキが美味しいのは添加物のおかげらしい</span>
            </div>
        </div>
    </div>
    <div class="button">もどる</div>
</body>
</html>
