<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/post-new.css">
</head>

<body>
    <h1>投稿</h1>
    <form action="/post/new" method="post">
        <input type="text" name='contents'>
        <input type="submit" value="投稿">
    </form>
    <span class="button"><a href="/">もどる</a></span>

</body>

</html>