<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>今自分が持っているポイント</h2>
    <p>10000ポイント</p>

    <h2>ﾄﾓﾀﾞﾁの秘密</h2>
    <div>
        <p>友達の秘密1: 10p</p>
        <button>交換する</button>
    </div>
    <div>
        <p>友達の秘密2: 10p</p>
        <button>交換する</button>
    </div>
    <div>
        <p>友達の秘密3: 10p</p>
        <button>交換する</button>
    </div>
    <div>
        <p>友達の秘密4: 10p</p>
        <button>交換する</button>
    </div>
</body>
</html>
